@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    display:flex;
    font-family: 'Rubik', sans-serif;
    background-color: #e4e4e7;
    height: 100vh;
}

.sidebar {
    display:flex;
    overflow:auto;
    flex-direction: column;
    width: 18vw;
    background-color: #059669;
    color:#fafafa;
    padding: 1.5vw;
    gap:0.5vw;
    position:relative;
}

.sidebar-logo {
    display:flex;
    align-items: center;
    font-size:calc(0.9vw + 10px);
    margin-bottom: calc(1vw + 12px);
}

.sidebar-logo > .material-symbols-outlined {
    font-size:calc(2.5vw + 10px);
}

.sidebar-item {
    display:flex;
    align-items: center;
    gap:0.2rem;
    font-size: calc(0.78vw + 6px);
}

.sidebar-item > .material-symbols-outlined {
    font-size: calc(0.78vw + 6px);
}

.first-group-end {
    margin-bottom: calc(0.8vw + 12px);
}

.container {
    display:grid;
    width:82vw;
    grid-template-rows: 1fr 6fr;
}

.header {
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 0.5vw;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px;
}

.search-bar {
    display: flex;
    grid-row: 1;
    grid-column: 1 / 6;
    gap:0.5vw;
}

.search-bar > input {
    width: 70%;
    border-radius: 60px;
    border-style: none;
    background-color: #e4e4e7;
}

.profile-bar {
    display: flex;
    grid-row: 1;
    grid-column: 6 / 9;
    justify-self: end;
    align-items: center;
    gap:1vw;
    font-size: calc(0.68vw + 8px);
}

.profile-bar #profile-icon {
    font-size: calc(1.6vw + 16px);
}

.greeting {
    display:flex;
    grid-row: 2;
    grid-column: 1 / 6;
    align-items:center;
    gap:1vw;
}

.greeting #profile-icon {
    font-size: calc(3vw + 16px);
}

.greeting-text-container {
    font-size: calc(0.68vw + 8px);
}

.greeting-text-container .row-1 {
    font-size: 75%;
}

.greeting-text-container .row-2 {
    font-weight: 600;
}

.nav-bar {
    display:flex;
    grid-row: 2;
    grid-column: 6 / 9;
    justify-self: end;
    gap:1vw;
}

.nav-item {
    display:flex;
    background-color: #34d399;
    color:#fafafa;
    height: 4.5vh;
    width: 6vw;
    justify-content: center;
    align-items:center;
    font-size: calc(0.58vw + 7px);
    border-radius: 200px;
}

.nav-item:hover {
    background-color: #6ee7b7;
    cursor: pointer;
}

.content {
    display:grid;
    margin-top:1.5vh;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2vw;
    gap: 2vw;
    overflow: auto;
}

.content-title {
    font-size:1.3rem;
}

.projects-container {
    grid-area: 1 / 1 / 3 / 1;
}

.cards-container {
    margin-top: 12px;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(calc(20vw + 60px), 1fr));
    gap: 2vw;
}

.project-card {
    display:flex;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius:8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px , inset 6px 0px 0px  rgba(52, 211, 153,1);
}

.project-card a {
    color:black;
    text-decoration: none;
}

.card-title {
    display:flex;
    justify-content: center;
    font-weight: 600;
    font-size:1.2rem;
}

.card-desc {
    display:flex;
    justify-content: center;
}

.card-buttons {
    display:flex;
    justify-content: end;
    align-items: center;
    gap:4px;
}

.announcements-container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius:8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px;
    margin-top:12px;
    gap: 1vw;
    margin-bottom:24px;
}

.announcement {
    border-style: solid;
    border-bottom-width:1px;
    padding-bottom:10px;
}

